<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">

      <ion-tab-button tab="dados-proprietario" [ngStyle]="{color : 'rgb(2 240 157)'}">
          <ion-label>Dados Propritário</ion-label>
          <ion-icon name="person-add-outline">
          </ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="dados-imovel" 
          [ngStyle]="{color : 'rgb(2 240 157)'}">
          <ion-label>Dados Imóvel</ion-label>
          <ion-icon name="storefront-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="imagem-save"
          [ngStyle]="{color : 'rgb(2 240 157)'}">
          <ion-label>Adicionar Imagens</ion-label>
          <ion-icon name="images-outline"></ion-icon>
      </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>