<ion-header [translucent]="true">
  <ion-title>
    <div style="text-align: center; color: #3700B3; font-size: 30px; font-weight: bold; padding-bottom: 5px;">
      A1000TON
    </div>
    <div
      style="text-align: center; color: #3700B3; font-size: 15px; font-weight: bold; padding-left: 150px;  padding-bottom: 3px;">
      Tecnologia
    </div>
  </ion-title>
</ion-header>

<ion-content class="ion-no-padding">

  <ion-card>
    <ion-card-header style="background-color: #3700B3;  height: 42px; padding-top: 4px;">

      <ion-label class="segment-dados-titulo ion-text-uppercase">
        <ion-icon name="person-add-outline" slot="start"></ion-icon> PROPRIETÁRIO DO IMÓVEL
      </ion-label>

    </ion-card-header>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="primary">Proprietário:</ion-label>
            <ion-input type="text" style="text-transform: lowercase;" formControlName="proprietario"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="primary">CPF/CNPJ:</ion-label>
            <ion-input type="text" pattern="[0-9]*" maxlength="11" style="text-transform: lowercase;" formControlName="cpf"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating" color="primary">RG:</ion-label>
            <ion-input type="number" inputmode="numeric" style="text-transform: lowercase;" formControlName="rg"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="primary">Tipo:</ion-label>
            <ion-input type="text" style="text-transform: lowercase;" formControlName="tipo1"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating" color="primary">Logradouro:</ion-label>
            <ion-input type="text" style="text-transform: lowercase;" formControlName="logradouro1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="primary">Número:</ion-label>
            <ion-input type="number" inputmode="numeric" style="text-transform: lowercase;" formControlName="numero1"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating" color="primary">Bairro:</ion-label>
            <ion-input type="text" style="text-transform: lowercase;" formControlName="bairro1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="primary">CEP:</ion-label>
            <ion-input type="text" pattern="[0-9]*" maxlength="8" style="text-transform: lowercase;" formControlName="cep1"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating" color="primary">Complemento:</ion-label>
            <ion-input type="text" style="text-transform: lowercase;" formControlName="complemento1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>